body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #aed5fc; /* Light blue background for the entire body */
}

header {
    background-color: #1565c0; /* Deep blue */
    color: #ffffff; /* White text */
    padding: 10px 20px;
    position: relative;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

#search-container {
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

#search-bar {
    width: 300px;
    padding: 10px;
    border: 1px solid #ffffff;
    border-radius: 4px;
    background-color: #ffffff;
}

button {
    padding: 10px;
    margin-left: 10px;
    border: none;
    background-color: #1ab22a; /* Bright green */
    color: white;
    cursor: pointer;
    border-radius: 4px;
}

button:hover {
    background-color: #07542a; /* Darker green */
}

/* Label Styles */
label {
    font-size: 23px;
    padding: 5px;
    color: #ffffff; /* White text */
    display: inline-block;
    margin: 10px;
    background-color: #8a190f; /* Coral background */
    border: 1px solid #ddd;
    border-radius: 5px;
    cursor: pointer;
}

label:hover {
    text-decoration: underline;
    background-color: #ff4500; /* Orange red */
}

#cart-icon {
    margin-left: 50px;  /* Moves the border and content 5px to the right */
    font-size: 50px;
    cursor: pointer;
    color: #000000; /* Bright yellow */
}

#items-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    color: #000000; /* Black text */
}

#instagram-icon {
    position: absolute;
    bottom: 40px;
    left: 650px;
    font-size: 50px;
    cursor: pointer;
    color: #f618e7;
}

#tik-tok-icon {
    position: absolute;
    bottom: 40px;
    left: 850px;
    font-size: 50px;
    cursor: pointer;
    color: #000000;
}

#youtube-icon {
    position: absolute;
    bottom: 40px;
    left: 1050px;
    font-size: 50px;
    cursor: pointer;
    color: #e62b2b;
}

#twitter-icon {
    position: absolute;
    bottom: 40px;
    left: 1250px;
    font-size: 50px;
    cursor: pointer;
    color: #2c7eea;
}

#facebook-icon {
    position: absolute;
    bottom: 40px;
    left: 1450px;
    font-size: 50px;
    cursor: pointer;
    color: #2c7eea;
}

#snapchat-icon {
    position: absolute;
    bottom: 40px;
    left: 1650px;
    font-size: 50px;
    cursor: pointer;
    color: #eaee05;
}

/* Item Styles */
.item {
    border: 1px solid #ffffff;
    border-radius: 4px;
    margin: 10px;
    padding: 20px;
    text-align: center;
    width: 200px;
    background-color: #ffebcd; /* Blanched almond background */
}

.item img {
    max-width: 100%;
    height: auto;
    width: 150px;
    height: 150px;
    object-fit: cover;
}

/* Quantity Input */
.quantity-input {
    width: 50px;
    margin-top: 10px;
}

section {
    margin: 20px;
    background-color: #e0ffff; /* Light cyan background */
    padding: 20px;
    border-radius: 8px;
}

ul {
    color: #000000; /* Black text */
    list-style-type: none;
    padding: 0;
}

ul li {
    margin: 10px 0;
}

h1 {
    position: absolute;
    bottom: -20px;
    left: 950px;
    color: #ff0000; /* Red text */
    background: #ffffff; /* White background */
    border: 2px dashed #0000ff; /* Blue dashed border */
    padding: 5px;
    width: 350px;
}

h3 {
    color: #0000ff; /* Blue text */
}

h2 {
    color: rgb(229, 13, 13);       /* Red color */
    margin-top: 0px; /* Moves the border and content 10px upwards */
    margin-left: 800px;  /* Moves the border and content 5px to the right */
    background-color: #ffa500;  /* Light orange background */
    border: 5px solid #0000ff;    /* Solid blue border */
    border-radius: 50px;          /* Rounded corners */
    padding: 10px;
    width: 550px;
}


