body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f9; /* Light grey background for the entire body */
}

header {
    background-color: #ffffff; /* Soft blue */
    color: #ffffff; /* White text */
    padding: 10px 20px;
    position: relative;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center; /* Align items vertically centered */
    height: 60px; /* Adjust height as needed to ensure proper alignment */
}

.header-container h1 {
    margin: 0; /* Remove default margin for alignment */
    font-size: 54px; /* Adjust font size as needed */
    color: #000000; /*Darker red*/
}

#cart-icon {
    font-size: 50px;
    color: #000000; /* White color */
    margin-left: 0; /* Align to the far left */
}

.spmart-box {
    display: flex;
    justify-content: center;
    width: 100%;
}

.spmart-box h2 {
    color: #000000;           
    background-color: #ffffff; 
    border: 1px solid #000000; 
    border-radius: 10px;       
    padding: 10px;
    width: 700px;            
    height: 500px;            
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    box-sizing: border-box;
}

#search-container {
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

#search-bar {
    width: 300px;
    padding: 10px;
    border: 1px solid #cccccc;
    border-radius: 4px;
    background-color: #ffffff;
}

button {
    padding: 10px;
    margin-left: 10px;
    border: none;
    background-color: #000000; /* Soft green */
    color: white;
    cursor: pointer;
    border-radius: 4px;
}

button:hover {
    background-color: #000000; /* Darker green */
}

/* Label Styles */
label {
    font-size: 23px;
    padding: 5px;
    color: #ffffff; /* White text */
    display: inline-block;
    margin: 10px;
    background-color: #ff978e; /* Soft coral background */
    border: 1px solid #ddd;
    border-radius: 5px;
    cursor: pointer;
}

label:hover {
    text-decoration: underline;
    background-color: #e55347; /* Darker coral */
}



section {
    margin: 20px;
    background-color: #f7f7f9; /* Light grey background */
    padding: 20px;
    border-radius: 8px;
}

ul {
    color: #333333; /* Dark grey text */
    list-style-type: none;
    padding: 0;
}

ul li {
    margin: 10px 0;
}

h1 {
    color: #333333; /* Dark grey text */
    background: #ffffff; /* White background */
    padding: 5px;
    width: 700px;
    text-align: left;
}

h3 {
    color: #4a90e2; /* Soft blue text */
}



